@charset 'UTF-8';

// https: //www.youtube.com/watch?v=MiQ_OSW9pLM

//------------------------------------
//  BASE
//------------------------------------

// @import 'bootstrap/variables';

// Website background (can use color or image)
$website-bg-color: #dedede !default;


// Enable font smoothing?
$enable-font-smoothing: true !default;


// Base font sizes and colors
$base-font-size		 : 21px !default;
$base-line-height	   : 24px !default;
$base-font-color		: #858585 !default;
$base-link-color		: #83838f !default;


// Element spacing and line-height ratio
$base-spacing-unit: $base-line-height !default;
$half-spacing-unit: $base-spacing-unit / 2 !default;
$line-height-ratio: $base-line-height / $base-font-size;


//------------------------------------
//  COLORS
//------------------------------------

$color-one	: #f58020;
$color-two	: #d1581c;
$color-three  : #ffd503;
$color-four   : #a9a9a9;
$color-five   : $base-font-color;
$border-color : #b7b7b7;




// Selection colors
$selection-background:  $color-two !default;
$selection-color:	   #ffffff !default;


// Form placeholder colors
$placeholder-color:	 #bbbbbb !default;


// Colors used for our objects' borders, etc
$object-ui-color:	   #cccccc !default;
$object-validate-color: #dc2828 !default;


// Dropdown colors
$dropdown-bg-color:	 #ffffff !default;
$dropdown-border-color: #ededed !default;
$dropdown-hover-color:  #f3f8f8 !default;
$dropdown-header-color: #aaaaaa !default;


// Button font color
$button-bg-color:		 $color-one !default;
$button-font-color:	   #ffffff !default;
$button-hover-font-color: #ffffff !default;


//------------------------------------
//  RESPONSIVE
//------------------------------------

// Breakpoints
$breakpoint-map: (
	'extra-small' : 360px,
	'small'	   : 670px,
	'medium'	  : 768px,
	'large'	   : 980px,
	'extra-large' : 1900px
);

// $breakpoint-map: (
// 	'extra-small' : 480px,
// 	'small'	   : 770px,
// 	'medium'	  : 992px,
// 	'large'	   : 1600px,
// 	'extra-large' : 1900px
// );

// Z-INDEX
$z-index-map: (
	'z-00'  : 0,
	'z-10'  : 10,
	'z-20'  : 20,
	'z-30'  : 30,
	'z-40'  : 40,
	'z-50'  : 50,
	'z-60'  : 60,
	'z-70'  : 70,
	'z-80'  : 80,
	'z-90'  : 90,
	'z-100' : 100
);

//------------------------------------
//  PATHS
//------------------------------------
$cdn-path	: '//d3jpzy2yx10pg3.cloudfront.net/compracerta/';
$img-path	: '/arquivos/';
$font-path	: '/arquivos/'; //jussi cdn


